*.iml
.gradle/
.kotlin/
local.properties
.idea/
.DS_Store
build/
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
keystore.properties
*.jks
*.keystore
*.log
# Written by CI from the commit log just before a release build; local builds have none.
app/src/main/assets/whatsnew.txt
